
        
        <!-- #clients -->
        <div id="clients" class="margin-bottom40-rs">
            
            <!-- .container -->
            <div class="container">
                
                <!-- .row -->
                <div class="row row-clients">
                    
                    <div class="col-xs-4 col-sm-2"> <!-- 1 -->
                        <figure class="affa-client-logo animation" data-animation="animation-fade-in-down">
                            <img src="images/content/client/1.png" alt="Logo" />
                        </figure>
                    </div>
                    
                    <div class="col-xs-4 col-sm-2"> <!-- 2 -->
                        <figure class="affa-client-logo animation" data-animation="animation-fade-in-down" data-delay="200">
                            <img src="images/content/client/2.png" alt="Logo" />
                        </figure>
                    </div>
                    
                    <div class="col-xs-4 col-sm-2"> <!-- 3 -->
                        <figure class="affa-client-logo animation" data-animation="animation-fade-in-down" data-delay="400">
                            <img src="images/content/client/3.png" alt="Logo" />
                        </figure>
                    </div>
                    
                    <div class="col-xs-4 col-sm-2"> <!-- 4 -->
                        <figure class="affa-client-logo animation" data-animation="animation-fade-in-down" data-delay="600">
                            <img src="images/content/client/4.png" alt="Logo" />
                        </figure>
                    </div>
                    
                    <div class="col-xs-4 col-sm-2"> <!-- 5 -->
                        <figure class="affa-client-logo animation" data-animation="animation-fade-in-down" data-delay="800">
                            <img src="images/content/client/5.png" alt="Logo" />
                        </figure>
                    </div>
                    
                    <div class="col-xs-4 col-sm-2"> <!-- 6 -->
                        <figure class="affa-client-logo animation" data-animation="animation-fade-in-down" data-delay="1000">
                            <img src="images/content/client/6.png" alt="Logo" />
                        </figure>
                    </div>
                    
                </div>
                <!-- .row end -->
                
            </div>
            <!-- .container end -->
            
        </div>
        <!-- #clients end -->