
        
        <!-- #contact -->
        <div id="contact" class="wrap-container80-rs">
            
            <!-- .container -->
            <div class="container">
                
                <div class="post-heading-center animation" data-animation="animation-fade-in-down">
                	<h2>¿Quieres conocernos? <strong>Contáctanos</strong></h2>
                </div>
                
                <form method="post" action="#" class="affa-form-contact animation" data-animation="animation-fade-in-up">
                    <div class="submit-status"></div> <!-- submit status -->
                    <input type="text" name="name" maxlength="255" placeholder="Nombre">
                    <input type="text" name="email" maxlength="100" placeholder="Dirección de correo electrónico *">
                    <input type="text" name="subject" placeholder="Tema">
                    <textarea name="message" placeholder="Mensaje *"></textarea>
                    <input type="submit" value="Enviar">
                </form>
                
            </div>
            <!-- .container end -->
            
        </div>
        <!-- #contact end -->