
        
        <!-- #counter -->
        <div id="counter" class="bg-parallax" data-parallax="scroll" data-speed="0.2" data-natural-width="1920" data-natural-height="720" data-image-src="images/content/bg/2.jpg">
        	
            <!-- .bg-overlay -->
            <div class="bg-overlay40 wrap-container8040">
                
                <!-- .container -->
                <div class="container">
                    
                    <!-- .row-counter -->
                    <div class="row-counter">
                        
                        <div class="col-counter"> <!-- 1 -->
                            <div class="affa-counter-text animation" data-animation="animation-fade-in-down">
                                <i class="ion ion-ios-heart-outline"></i>
                                <h4><span>198</span>k</h4>
                                <p>Usuarios</p>
                            </div>
                        </div>
                        
                        <div class="col-counter-sep animation" data-animation="animation-fade-in-down" data-delay="200"></div> <!-- separator -->
                        
                        <div class="col-counter"> <!-- 2 -->
                            <div class="affa-counter-text animation" data-animation="animation-fade-in-down" data-delay="400">
                                <i class="ion ion-ios-cloud-download-outline"></i>
                                <h4><span>218</span>k</h4>
                                <p>Descargas</p>
                            </div>
                        </div>
                        
                        <div class="col-counter-sep animation" data-animation="animation-fade-in-down" data-delay="600"></div> <!-- separator -->
                        
                        <div class="col-counter"> <!-- 3 -->
                            <div class="affa-counter-text animation" data-animation="animation-fade-in-down" data-delay="800">
                                <i class="ion ion-ios-people-outline"></i>
                                <h4><span>127</span>k</h4>
                                <p>Transacciones</p>
                            </div>
                        </div>
                        
                    </div>
                    <!-- .row-counter end -->
                    
                </div>
                <!-- .container end -->
                
            </div>
            <!-- .bg-overlay end -->
            
        </div>
        <!-- #counter end -->