
        
        <!-- #features5 -->
        <div id="features5" class="bg-color wrap-container80-rs">
            
            <!-- .container -->
            <div class="container">
                
                <div class="post-heading-center animation" data-animation="animation-fade-in-down">
                    <h2>Nuestros <strong>Servicios</strong></h2>
                    <p>Nos encargamos de hacer la aplicación y conectarla a los procesadores de pagos<br> Proveemos un servicio robusto basado en la experiencia de trabajar en canales digitales para Bancos.</p>
                </div>
                
                <!-- .row -->
                <div class="row">
                    
                    <div class="col-sm-4"> <!-- 1 -->
                        <div class="affa-feature-text animation" data-animation="animation-fade-in-up">
                            <h4>Servicio en Línea</h4>
                            <div class="feature-icon">
                                <i class="ion ion-ios-cloud-outline"></i>
                                <span class="feature-icon-shadow"></span>
                            </div>
                            <p>Con tu dispositivo puedes cobrar a través de Pagueyá.</p>
                            <a href="#">Ver más...</a>
                        </div>
                    </div>
                    
                    <div class="col-sm-4"> <!-- 2 -->
                        <div class="affa-feature-text animation" data-animation="animation-fade-in-up" data-delay="200">
                            <h4>Reporte en tiempo real</h4>
                            <div class="feature-icon">
                                <i class="ion ion-ios-list-outline"></i>
                                <span class="feature-icon-shadow"></span>
                            </div>
                            <p>En cualquier momento puedes consultar las operaciones por vendedor y geolocalizadas.</p>
                            <a href="#">Ver más...</a>
                        </div>
                    </div>
                    
                    <div class="col-sm-4"> <!-- 3 -->
                        <div class="affa-feature-text animation" data-animation="animation-fade-in-up" data-delay="400">
                            <h4>Seguridad robusta</h4>
                            <div class="feature-icon">
                                <i class="ion ion-ios-locked-outline"></i>
                                <span class="feature-icon-shadow"></span>
                            </div>
                            <p>Estamos respaldados por los procesadores de pagos más importantes del mercado.</p>
                            <a href="#">Ver más...</a>
                        </div>
                    </div>
                    
                </div>
                <!-- .row end -->
                
                <div class="sep-border margin-bottom40"></div> <!-- separator -->
                
                <!-- .row -->
                <div class="row">
                    
                    <div class="col-sm-2"> <!-- 1 -->
                        <div class="affa-feature-icon animation" data-animation="animation-fade-in-up">
                        	<i class="ion ion-card"></i>
                            <p>Acepta Tarjetas de Crédito</p>
                        </div>
                    </div>
                    
                    <div class="col-sm-2"> <!-- 2 -->
                        <div class="affa-feature-icon animation" data-animation="animation-fade-in-up" data-delay="200">
                        	<i class="ion ion-ios-people-outline"></i>
                            <p>Múltiples usuarios por empresa</p>
                        </div>
                    </div>
                    
                    <div class="col-sm-2"> <!-- 3 -->
                        <div class="affa-feature-icon animation" data-animation="animation-fade-in-up" data-delay="400">
                        	<i class="ion ion-ios-chatboxes-outline"></i>
                            <p>Soporte en línea</p>
                        </div>
                    </div>
                    
                    <div class="col-sm-2"> <!-- 4 -->
                        <div class="affa-feature-icon animation" data-animation="animation-fade-in-up" data-delay="600">
                        	<i class="ion ion-android-call"></i>
                            <p>Soporte telefónico</p>
                        </div>
                    </div>
                    
                    <div class="col-sm-2"> <!-- 5 -->
                        <div class="affa-feature-icon animation" data-animation="animation-fade-in-up" data-delay="800">
                        	<i class="ion ion-location"></i>
                            <p>Operaciones geolocalizadas</p>
                        </div>
                    </div>
                    
                    <div class="col-sm-2"> <!-- 6 -->
                    	<div class="affa-feature-icon animation" data-animation="animation-fade-in-up" data-delay="1000">
                        	<i class="ion ion-ios-personadd-outline"></i>
                            <p>Control a través del Administrador</p>
                        </div>
                    </div>
                    
                </div>
                <!-- .row end -->
                
                <p class="sub-heading textcenter margin-top20 no-margin-bottom animation" data-animation="animation-fade-in-down">Registra tu empresa, descarga Pagueyá, actívala y empieza a hacer negocios!!!</p>
                
            </div>
            <!-- .container end -->
            
        </div>
        <!-- #features5 end -->