
        
        <!-- #features2 -->
        <div id="features2" class="bg-grey no-border-bottom padding-top80-rs">
            
            <!-- .container -->
            <div class="container">
                
                <!-- .row -->
                <div class="row">
                    
                    <div class="col-sm-10 col-md-6 col-sm-offset-1 col-md-offset-0">
                        <div class="col-text120 margin-bottom20 animation" data-animation="animation-fade-in-left">
                            <div class="post-heading-left">
                                <h2>Distribuye tu <strong>Fuerza de Ventas</strong> con las mejores herramientas.</h2>
                                <p>Acelera el ciclo de caja y ofrece a tus clientes el beneficio de pagar con Tarjeta de Crédito inmediatamente.</p>
                            </div>
                            <p class="no-margin-bottom">Es un servicio de pago con valor agregado. Administras tus cobros a través de la aplicación y controla la gestión de las ventas. Controla el acceso y revisa el historial de operaciones.<br><strong>Pagueyá es la evolución de los medios de pago:</strong></p>
                            <div class="list-row">
                            	<div class="list-col">
                                    <ul class="list-icon">
                                    	<li><i class="ion ion-android-done"></i> Acepta tarjetas de crédito de cualquier Banco</li>
                                        <li><i class="ion ion-android-done"></i> Activas todos los usuarios que quieras</li>
                                        <li><i class="ion ion-android-done"></i> Registra la localización de las ventas</li>
                                        <li><i class="ion ion-android-done"></i> Mantienes un historial por vendedor</li>
                                    </ul>
                                </div>
                                
                                <div class="list-col">
                                    <ul class="list-icon">
                                        <li><i class="ion ion-android-done"></i> Acceso al reporte en tiempo real</li>
                                        <li><i class="ion ion-android-done"></i> Controla las comisiones</li>
                                        <li><i class="ion ion-android-done"></i> Accesible desde cualquier lugar con conexión</li>
                                        <li><i class="ion ion-android-done"></i> Controla los usuarios a través del administrador</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-8 col-md-5 col-sm-offset-2 col-md-offset-1 col-padding-xs">
                        <figure class="img-overlay img-left-front">
                            <div class="img-left">
                                <img src="images/content/landing/feature-2-left.png" alt="Image Left" class="animation" data-animation="animation-fade-in-left" data-delay="400">
                            </div>
                            <div class="img-right">
                                <img src="images/content/landing/feature-2-right.png" alt="Image Right" class="animation" data-animation="animation-fade-in-right">
                            </div>
                        </figure>
                    </div>
                    
                </div>
                <!-- .row end -->
                
            </div>
            <!-- .container end -->
            
        </div>
        <!-- #features2 end -->