
        
        <!-- #features3 -->
        <div id="features3" class="wrap-container8040-rs">
            
            <!-- .container -->
            <div class="container">
                
                <!-- .row -->
                <div class="row">
                    
                    <div class="col-sm-5 col-md-4 col-md-offset-1 col-padding-xs">
                        <figure class="margin-bottom40 animation" data-animation="animation-fade-in-right">
                            <img src="images/content/landing/feature-3.png" alt="Image">
                        </figure>
                    </div>
                    
                    <div class="col-sm-7 col-md-5 col-md-offset-1">
                        <div class="col-text120 textcenter-xs padding-top40-sm margin-bottom40 animation" data-animation="animation-fade-in-left">
                            <div class="post-heading-left post-heading-center-xs border-style2 margin-bottom40">
                                <h2><strong>Pagueyá</strong> se activa de forma sencilla</h2>
                                <p>En un proceso hecho a la medida de nuestros clientes que valoran su tiempo y deben atender su negocio.</p>
                            </div>
                            
                            <h4>Registra tu empresa</h4>
                            <p class="margin-bottom5">Consigna los recaudos y los datos para conocernos y empezar a hacer negocios.</p>
                            <a href="#" class="more-link">Ver más <i class="ion ion-ios-arrow-right"></i></a>
                            
                            <h4 class="margin-top30">Descarga Pagueyá y actívate</h4>
                            <p class="margin-bottom5">Descarga la aplicación móvil y activa tu cuenta. Ahora a cobrar.</p>
                            <a href="#" class="more-link">Ver más <i class="ion ion-ios-arrow-right"></i></a>
                        </div>
                    </div>
                    
                </div>
                <!-- .row end -->
                
            </div>
            <!-- .container end -->
            
        </div>
        <!-- #features3 end -->