        <!-- #footer -->
        <footer id="footer">

            <!-- .container -->
            <div class="container">

                <div class="footer-logo">
                	<img src="images/logo-home.png" alt="Logo">
                </div>

                <div class="social-links">
                    <a href="https://www.facebook.com/Synergy-Tech-892207717592434/?ref=aymt_homepage_panel" title="facebook"><i class="ion ion-social-facebook"></i></a>
                    <a href="https://twitter.com/bysynergytech" title="twitter"><i class="ion ion-social-twitter"></i></a>
                    <!-- a href="#" title="google plus"><i class="ion ion-social-googleplus-outline"></i></a-->
                    <a href="https://www.instagram.com/bysynergytech/" title="instagram"><i class="ion ion-social-instagram-outline"></i></a>
                    <!-- a href="#" title="pinterest"><i class="ion ion-social-pinterest"></i></a -->
                    <!-- a href="#" title="dribbble"><i class="ion ion-social-dribbble-outline"></i></a -->
                </div>

                <p class="footer-copyright">&copy; 2016 Copyrights <a href="{{ site.url }}" target="_blank">{{ site.data.global.companyname }}</a> - All rights reserved.
                <img src="images/bysynergytech-logo.png" alt="bysynergytech logo">
                </p>

            </div>
            <!-- .container end -->

        </footer>
        <!-- #footer end -->
