

    <!-- #header -->
    <header id="header">

        <!-- .header-overlay -->
        <div class="header-overlay">

            <!-- .container -->
            <div class="container">

                <!-- .row -->
                <div class="row">

                    <div class="col-sm-5 col-md-4 col-md-offset-1">
                        <figure class="header-img animation" data-animation="animation-fade-in-left">
                            <img src="images/content/landing/header-img.png" alt="Header Image" />
                        </figure>
                    </div>

                    <div class="col-sm-7 col-md-5 col-md-offset-1">
                    	<div class="header-text animation" data-animation="animation-fade-in-right">
                            <div class="header-logo">
                                <img src="images/logo-home.png" alt="Logo" /> <!-- site logo -->
                            </div>
                            <!--h1 class="header-heading">{{ site.data.global.productname }}</h1-->
                            <div class="header-content">
                                <p>Es la aplicación que te permite realizar tus cobros.</p>
                                <p style="font-style:italic;">Acepta tarjetas de crédito, <strong>&iexcl;sin punto de venta!</strong></p>
                            </div>
                            <div class="header-button">
                                <a href="page.html" class="link">Ver más...</a>
                                <span class="header-button-sep"></span>
                                <a href="#downloads" class="btn-custom smooth-scroll">Descargar</a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- .row end -->

            </div>
            <!-- .container end -->

        </div>
        <!-- .header-overlay end -->

    </header>
    <!-- #header end -->
