
        
        <!-- #howto -->
        <div id="howto" class="wrap-container80-rs">
            
            <!-- .container -->
            <div class="container">
                
                <div class="post-heading-center animation" data-animation="animation-fade-in-down">
                    <h2>¿Cómo funciona  <strong>Pagueyá</strong>?</h2>
                    <p>A través de nuestros servicios en la nube se reciben las transacciones y se pasan al procesador de tarjetas.<br>Este recibe la transacción y la procesa en tiempo real.</p>
                </div>
                
                <figure class="animation" data-animation="animation-bounce-in">
                    <img src="images/content/landing/how-it-work.png" alt="Image" />
                </figure>
                
                <p class="textcenter margin-top20 no-margin-bottom animation" data-animation="animation-fade-in-up">
                    <a href="#" class="btn-custom">Ver más...</a>
                </p>
                
            </div>
            <!-- .container end -->
            
        </div>
        <!-- #howto end -->