               <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="menu-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html" class="smooth-scroll">Home</a></li>
                        <li><a href="index.html#features" class="smooth-scroll">Funcionalidades</a></li>
                        <li><a href="index.html#screenshots" class="smooth-scroll">Pantallas</a></li>
                        <li><a href="index.html#pricing" class="smooth-scroll">Precios</a></li>
                        <li><a href="index.html#testimonials" class="smooth-scroll">Testimonios</a></li>
                        <li><a href="page.html">Pagueyá</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li class="menu-btn"><a href="#downloads" class="smooth-scroll">Descargar</a></li>
                    </ul>
                </div>