        <!-- #navigation -->
        <nav id="navigation" class="navbar navbar-default stickem">
            
            <!-- .container -->
            <div class="container">
                
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse-1">
                        <span class="sr-only">Menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand"><img src="images/logo.png" alt="Logo" /></div> <!-- site logo -->
                    <div class="navbar-brand-xs"><img src="images/logo_mobile.png" alt="Logo" /></div> <!-- mobile site logo -->
                </div>
                
                {% include navigation-links.html %}
                
            </div>
            <!-- .container end -->
            
        </nav>
        <!-- #navigation end -->