
        
        <!-- #pricing -->
        <div id="pricing" class="bg-grey grey-color2 no-border-top wrap-container8040-rs">
            
            <!-- .container -->
            <div class="container">
                
                <div class="post-heading-center animation" data-animation="animation-fade-in-down">
                	<h2>A la medida de tu <strong>Negocio</strong>.</h2>
                </div>
                
                <!-- .tbl-pricing -->
                <div class="tbl-pricing">
                    
                    <!-- .row -->
                    <div class="row">
                        
                        <div class="col-sm-6 col-md-5 col-md-offset-1 tbl-prc-col"> <!-- 1 -->
                            <div class="tbl-prc-base animation" data-animation="animation-fade-in-left">
                                <h4 class="tbl-prc-heading">Plan Emprendedor</h4>
                                <h2 class="tbl-prc-price"><sup>Bs.</sup>5.000,00 <span>/mes</span></h2>
                                <ul class="tbl-prc-list">
                                	<li class="checked">
                                        <i class="ion ion-android-done"></i> 50 Operaciones al mes</li>
                                    <li class="checked">
                                        <i class="ion ion-android-done"></i> 5 Usuarios</li>
                                    <li class="checked"><i class="ion ion-android-done"></i> Chat</li>
                                    <li class="checked"><i class="ion ion-android-done"></i> Reporte en línea</li>
                                    <li><i class="ion ion-android-done"></i> Atención telefónica</li>
                                </ul>
                                <div class="tbl-prc-footer">
                                    <a href="#" class="btn-custom">Suscribir Plan Emprendedor</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-6 col-md-5 tbl-prc-col tbl-prc-col-recommended"> <!-- 2 -->
                            <div class="tbl-prc-base animation" data-animation="animation-fade-in-right">
                                <h4 class="tbl-prc-heading">Plan Activo</h4>
                                <h2 class="tbl-prc-price"><sup>Bs.</sup>10.000,00 <span>/mes</span></h2>
                                <ul class="tbl-prc-list">
                                    <li><i class="ion ion-android-done"></i> 200 Operaciones al mes </li>
                                    <li><i class="ion ion-android-done"></i> 15 Usuarios</li>
                                    <li><i class="ion ion-android-done"></i> Chat</li>
                                    <li><i class="ion ion-android-done"></i> Reporte en línea</li>
                                    <li><i class="ion ion-android-done"></i> Atención telefónica</li>
                                </ul>
                                <div class="tbl-prc-footer">
                                    <a href="#" class="btn-custom">Suscribir Plan Activo</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- .row end -->
                    
                </div>
                <!-- .tbl-pricing end -->
                
            </div>
            <!-- .container end -->
            
        </div>
        <!-- #pricing end -->