

        <!-- #teams -->
        <div id="teams" class="bg-grey no-border-top no-border-bottom">

            <!-- .row-wrap -->
            <div class="row-wrap">

                <div class="col-left">
                	<div class="affa-team-text textcenter animation" data-animation="animation-fade-in-down">
                    	<div class="post-heading-center">
                        	<h2>¡Conoce el <strong>Equipo!</strong></h2>
                        </div>
                        <!--div class="affa-team-text-logo">
                        	<img src="images/{{ site.data.global.logo_image }}" alt="Logo" />
                        </div-->
                        <div class="affa-team-text-desc">
                        	<p>Somos parte del grupo empresarial Synergy-GB.<br>Estamos comprometidos con la calidad y el buen servicio.</p>
                            <p>Caracas, Venezuela</p>
                        </div>
                        <a href="http://synergy-gb.com" class="btn-custom">Visítanos</a>
                    </div>
                </div>

                <div class="col-right">
                    <div class="carousel-slider affa-team-row">

                        <div class="affa-team-col">
                        	<div class="affa-team-profile animation" data-animation="animation-bounce-in"> <!-- 1 -->
                                <img src="images/content/avatar/team-1.jpg" alt="Avatar" />
                                <div class="affa-team-profile-overlay">
                                    <h4>Gabriel Vega</h4>
                                    <p>Director</p>
                                    <div class="socials">
                                        <a href="#" title="Facebook"><i class="ion ion-social-facebook"></i></a>
                                        <a href="#" title="Twitter"><i class="ion ion-social-twitter"></i></a>
                                        <a href="#" title="Google Plus"><i class="ion ion-social-googleplus-outline"></i></a>
                                        <a href="#" title="Instagram"><i class="ion ion-social-instagram-outline"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="affa-team-profile animation" data-animation="animation-bounce-in" data-delay="200"> <!-- 2 -->
                                <img src="images/content/avatar/team-2.jpg" alt="Avatar" />
                                <div class="affa-team-profile-overlay">
                                    <h4>Alexander A. Ramírez M.</h4>
                                    <p>Director</p>
                                    <div class="socials">
                                        <a href="#" title="Facebook"><i class="ion ion-social-facebook"></i></a>
                                        <a href="#" title="Twitter"><i class="ion ion-social-twitter"></i></a>
                                        <a href="#" title="Google Plus"><i class="ion ion-social-googleplus-outline"></i></a>
                                        <a href="#" title="Instagram"><i class="ion ion-social-instagram-outline"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="affa-team-col">
                            <div class="affa-team-profile animation" data-animation="animation-bounce-in" data-delay="400"> <!-- 3 -->
                                <img src="images/content/avatar/team-3.jpg" alt="Avatar" />
                                <div class="affa-team-profile-overlay">
                                    <h4>José Rivera</h4>
                                    <p>Director</p>
                                    <div class="socials">
                                        <a href="#" title="Facebook"><i class="ion ion-social-facebook"></i></a>
                                        <a href="#" title="Twitter"><i class="ion ion-social-twitter"></i></a>
                                        <a href="#" title="Google Plus"><i class="ion ion-social-googleplus-outline"></i></a>
                                        <a href="#" title="Instagram"><i class="ion ion-social-instagram-outline"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="affa-team-profile animation" data-animation="animation-bounce-in" data-delay="600"> <!-- 4 -->
                                <img src="images/content/avatar/team-4.jpg" alt="Avatar" />
                                <div class="affa-team-profile-overlay">
                                    <h4>Alfredo Pereyra</h4>
                                    <p>Director</p>
                                    <div class="socials">
                                        <a href="#" title="Facebook"><i class="ion ion-social-facebook"></i></a>
                                        <a href="#" title="Twitter"><i class="ion ion-social-twitter"></i></a>
                                        <a href="#" title="Google Plus"><i class="ion ion-social-googleplus-outline"></i></a>
                                        <a href="#" title="Instagram"><i class="ion ion-social-instagram-outline"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

            </div>
            <!-- .row-wrap end -->

        </div>
        <!-- #teams end -->
