
        
        <!-- #testimonials -->
        <div id="testimonials" class="padding-top80-rs margin-bottom60-rs">
        	
            <!-- .container -->
            <div class="container">
                
                <div class="post-heading-center animation" data-animation="animation-fade-in-down">
                    <h2>¿Qué dicen nuestros <strong>Clientes</strong>?</h2>
                </div>
                
                <!-- .carousel-slider -->
                <div class="carousel-slider affa-testimonials-carousel animation" data-animation="animation-fade-in-up">
                    
                    <div class="testimonial-item"> <!-- 1 -->
                        <img src="images/content/avatar/testimonial-1.jpg" alt="Avatar" />
                        <div class="testimonial-text">
                            <p>Es muy conveniente y fácil de usar. Me permite realizar los cobros inmediatamente y acelerar el proceso de inscripción de nuevos participantes en los cursos de Synergy Vision.</p>
                        </div>
                        <div class="testimonial-rate"><span class="testimonial-rate-val" style="width:90%;"></span></div>
                        <div class="testimonial-author">
                            <h4>Alexander A. Ramírez M.</h4>
                            <p>Director en <span>Synergy Vision</span></p>
                        </div>
                    </div>
                    
                    <div class="testimonial-item"> <!-- 2 -->
                        <img src="images/content/avatar/testimonial-2.jpg" alt="Avatar" />
                        <div class="testimonial-text">
                            <p>El proceso de pago previo tomaba mucho tiempo, ya que había que recibir el depósito y luego hacer el chequeo en la cuenta. Era un proceso propenso a errores. Ahora ya es más rápido y con menos problemas. El registro y activación del servicio fué muy expedito.</p>
                        </div>
                        <div class="testimonial-rate"><span class="testimonial-rate-val" style="width:80%;"></span></div>
                        <div class="testimonial-author">
                            <h4>Ana Avila</h4>
                            <p>Administradora <span>Synergy-GB</span></p>
                        </div>
                    </div>
                    
                </div>
                <!-- .carousel-slider end -->
                
            </div>
            <!-- .container end -->
            
        </div>
        <!-- #testimonials end -->