<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><html lang="en"><!--<![endif]-->

  {% include head.html %}

  <body>

  	<div id="preloader">
    	<div class="spinner"></div> <!-- page loader spinner -->
    </div>

    {% include header.html %}

    <!-- .stickem-container -->
    <div class="stickem-container">

	    {% include navigation.html %}
	    {% include features1.html %}
	    {% include features2.html %}
	    {% include features3.html %}
	    <div class="sep-border"></div> <!-- separator -->
	    {% include features4.html %}
	    {% include features5.html %}
	    {% include howto.html %}
	    {% include screenshots.html %}
	    {% include counter.html %}
	    {% include pricing.html %}
	    {% include testimonials.html %}
	    {% include clients.html %}
	    {% include downloads.html %}
	    {% include teams.html %}
	    {% include contact.html %}

	    {% include footer.html %}
        
    </div>
    <!-- .stickem-container end -->
    
    {% include ie8.html %}
    
	{% include js.html %}
    
</body>
</html>